<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<nav>
		<a href="/" class="link">About</a>
		<a href="profile" class="link">Profile</a>
		<a href="log-out" class="link">Log Out</a>
	</nav>

	<div class="main">
		<h2>Profile</h2>
		You have reached your profile {{name}} and have been authenticated, no one else can reach this page only you.
	</div>
	
</body>
</html>